# Build
/bin/
/dist/
*.exe
*.test
*.out
coverage.*

# Env / secrets
.env
.env.*
!.env.example
secrets/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

git-crypt-key.key
git-crypt-key
docs/proximos-passos/**
next-steps